In [114]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import os
from tqdm import tqdm

In [115]:
naca_number = '0018'
reynolds = '200000'
path = f'Polars/xf-naca{naca_number}-il-{reynolds}.txt'

In [116]:
NACAS = os.listdir('Polars')
NACAS[0][3:-4].split('-il-')

['naca0006', '100000']

In [143]:
naca_df = pd.DataFrame(columns=['naca','reynolds','alpha', 'CL', 'CD', 'CDp', 'CM', 'Top_Xtr', 'Bot_Xtr'])
NACAS = os.listdir('Polars')
count=0
for naca in tqdm(NACAS):
    [naca, reynolds] = naca[3:-4].split('-il-')
    naca_number = naca[4:]
    reynolds = int(reynolds)
    path = f'Polars/xf-naca{naca_number}-il-{reynolds}.txt'
    file = open(path, 'r')
    for line in file:
        if '--------' in line:
            for line in file:
                myline = list(filter(lambda x: x != '', line.split(' ')))
                myline = [naca_number, reynolds] + [float(k) for k in myline]
                naca_df.loc[count] = myline
                count+=1

100%|██████████| 479/479 [03:22<00:00,  2.37it/s]

In [146]:
naca_df.to_csv('nacas.csv',index = False, header = True)

In [152]:
naca_df.loc[naca_df['naca'] == '0006']

     naca reynolds  alpha      CL       CD      CDp      CM  Top_Xtr  Bot_Xtr
0    0006   100000 -10.00 -0.5661  0.11269  0.10814  0.0140   1.0000   0.0914
1    0006   100000  -9.75 -0.5830  0.10909  0.10461  0.0097   1.0000   0.0925
2    0006   100000  -9.50 -0.7037  0.11447  0.10977  0.0241   1.0000   0.0814
3    0006   100000  -9.25 -0.6934  0.11087  0.10614  0.0257   1.0000   0.0859
4    0006   100000  -9.00 -0.6952  0.10675  0.10207  0.0227   1.0000   0.0898
..    ...      ...    ...     ...      ...      ...     ...      ...      ...
270  0006    50000   7.00  0.6546  0.08637  0.08007 -0.0401   0.3824   1.0000
271  0006    50000   7.50  0.6649  0.09390  0.08752 -0.0383   0.3427   1.0000
272  0006    50000   7.75  0.6872  0.09890  0.09255 -0.0353   0.3183   1.0000
273  0006    50000   8.00  0.6770  0.10150  0.09505 -0.0362   0.3020   1.0000
274  0006    50000   8.25  0.6750  0.10464  0.09813 -0.0362   0.2836   1.0000

[275 rows x 9 columns]